In [1]:
import pandas as pd
import numpy as np
import math

In [49]:
df2=pd.read_csv('dataset4.csv', error_bad_lines=False)

C:\Users\Daria\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
df2.head()

,ID,External ID,Gender,Birthdate,Age,Email,Phone,Postalcode1,Postalcode2,Source,Acquisition date
0,2483283,67146981.0,NaN,12/04/64,54,ela1964-12@wp.pl,531093756,55.0,100.0,mojportalfinansowy.pl/kredyty,05/07/17
1,3699429,70291462.0,NaN,31/07/73,44,misiekwola42@gmail.com,517562860,1.0,229.0,mojportalfinansowy.pl/kredyty,22/10/17
2,64948,52630767.0,NaN,03/11/87,30,dzodzo80@wp.pl,697727816,38.0,500.0,mojportalfinansowy.pl/kredyty,29/02/16
3,2295902,28080911.0,NaN,10/01/83,35,sowa3266@wp.pl,782605953,NaN,NaN,e-konomista.pl/kredyt,05/07/14
4,65003,59827653.0,NaN,11/03/87,31,justyna2235@op.pl,691235749,44.0,203.0,mojportalfinansowy.pl/kredyty,03/01/17

In [51]:
s=df2['Age']

In [47]:
s.head()

0    54
1    44
2    30
3    35
4    31
Name: Age, dtype: object

In [45]:
s.value_counts()

SystemError: <built-in method format of str object at 0x00000170E84E3AC0> returned a result with an error set

In [53]:
bins=[0,30,40,50,60,70,200]

In [54]:
names=['0 to 30', '31 to 40', '41 to 50', '51 to 60', '61 to 70','over 70']

In [55]:
s['Categories'] = pd.cut(s, bins, labels=names,)

C:\Users\Daria\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
s.groupby(s['Categories']).val

ValueError: Length of grouper (278725) and axis (278726) must be same length